In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

1) Using lemonade.csv dataset and focusing on continuous variables:

* Use the IQR Range Rule and the upper and lower bounds to identify the lower outliers of each column of lemonade.csv, using the multiplier of 1.5. Do these lower outliers make sense?Which outliers should be kept?

In [2]:
df = pd.read_csv('lemonade.csv')

In [3]:
df.head()

     Date        Day  Temperature  Rainfall  Flyers  Price  Sales
0  1/1/17     Sunday         27.0      2.00      15    0.5     10
1  1/2/17     Monday         28.9      1.33      15    0.5     13
2  1/3/17    Tuesday         34.5      1.33      27    0.5     15
3  1/4/17  Wednesday         44.1      1.05      28    0.5     17
4  1/5/17   Thursday         42.4      1.00      33    0.5     18

In [143]:
def get_lower_and_upper_bounds()

SyntaxError: invalid syntax (<ipython-input-143-3aff7dd10499>, line 1)

In [144]:
def inter_quartile(df, multiplier):
    '''function will define quantiles, lower/upper fences'''
    
    # Define 
    col_list = 
    
    for col in col_list:
    
    #Define Quantiles
  
        q1 = df.quantile(0.25)
        q3 = df.quantile(0.75)
    
    # Establish Inner Quartile Range (iqr)
        iqr = q3 - q1
        pd.DataFrame(iqr)

    #Define lower/upper fences
        inner_lower = q1 - (multiplier * iqr)
        pd.DataFrame(inner_lower)
        inner_upper = q3 + (multiplier * iqr)
        pd.DataFrame(inner_upper)

    return iqr, inner_lower, inner_upper

In [116]:
iqr, inner_lower, inner_upper = inter_quartile(df, 1.5)

In [117]:
print(iqr)
print(inner_lower)
print(inner_upper)

Temperature    22.00
Rainfall        0.26
Flyers         18.00
Price           0.00
Sales          10.00
dtype: float64
Temperature    16.70
Rainfall        0.26
Flyers          4.00
Price           0.50
Sales           5.00
dtype: float64
Temperature    104.7
Rainfall         1.3
Flyers          76.0
Price            0.5
Sales           45.0
dtype: float64

In [125]:
cols = df.select_dtypes(exclude='object')
for col in cols:
    df[df[col] < inner_lower]

ValueError: Can only compare identically-labeled Series objects

In [120]:
col_list = df.select_dtypes(exclude='object').columns.values

In [136]:
cols = df.select_dtypes(exclude='object')
cols

           NaN   NaN  NaN  NaN  NaN
Date
1/1/17    27.0  2.00   15  0.5   10
1/2/17    28.9  1.33   15  0.5   13
1/3/17    34.5  1.33   27  0.5   15
1/4/17    44.1  1.05   28  0.5   17
1/5/17    42.4  1.00   33  0.5   18
...        ...   ...  ...  ...  ...
12/27/17  42.7  1.00   33  0.5   19
12/28/17  37.8  1.25   32  0.5   16
12/29/17  39.5  1.25   17  0.5   15
12/30/17  30.9  1.43   22  0.5   13
12/31/17  15.1  2.50    9  0.5    7

[365 rows x 5 columns]

In [81]:
for col in cols:
    df[df[col] < lower]

ValueError: Can only compare identically-labeled Series objects